.input-container{
    background-color: rgb(209, 178, 178);
    max-width: 700px;
    margin: auto;
    border: 10px double rgb(146, 25, 177);
    height: 250px;

}
div{
    margin-top: 20px;
}
input{
    font-size: 20px;
    text-align: center;
    background-color: blanchedalmond;
}
label{
    color: brown;
    font-size: 20px;
    font-weight: 500;
}
button{
    font-size: 20px;
    color: white;
    background-color: rgb(228, 18, 175);

}
.heading{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(121, 22, 212);
    font-weight: 500;
}